.template-container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 20px;
  right: 20px;
  left: 20px;
  top: 30px;
  color: white;
  font: cursive;
  padding-left: 20px;
  padding-right: 20px;
}

.index-container {
  position: relative;
  text-align: center;
  padding-bottom: 30px;
}

.bottom-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 20px;
  right: 20px;
  left: 20px;
  top: 80px;
  color: white;
  font: cursive;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  background-color: white;
  border: 2px solid #f5c242;
  color: #434c4f;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #f5c242;
  color: white;
}

footer {
    background-color: #434c4f;
    color:#f5c242;
    font-size: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer a {
    color:#f59642;
    text-decoration: none;
}
